<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/styles :: styles">
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<nav th:replace="partials/navbar :: styles"></nav>
<div>
    <h3 th:text="${ad.title}"></h3>
    <p th:text="${ad.description}"></p>
    <p th:text="${ad.user.username}"></p>
    <span th:each="cat : ${ad.categories}">
        <span th:text="${cat.name}"></span>
    </span>
    <div th:if="${isAdOwner}" class="w-100">

        <div class="container d-flex justify-content-center align-items-center border border-dark w-100">
            <form th:action="@{/posts/{id}/edit(id=${post.id})}" method="get">
                <button class="m-2" type="submit" name="editBtn" value="edit">Edit</button>
            </form>
            <form th:action="@{/posts/{id}/delete(id=${post.id})}" method="post">
                <button class="m-2" type="submit" name="deleteBtn" value="delete">Delete</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>